.certificado{
    width: 400px;   
    margin: 20px;
    border-radius: 10px;
}

.allTtiulos{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionTitulos{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.boxCard{
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 10px;
    margin: 40px;
}

.boxCard p{
    text-align: center;
    color: white;
}

.titleCertificados{
    font-size: 40px;
     font-weight: bold;
     text-align:center;
     color: white;

}

.allTtiulosFooter{
    display: none;
}

@media(max-width:574px){
    .boxCard{
        width: 300px;
        text-align: center;
        margin: 20;
    }

    .certificado{
        width: 230px;
    }
}

@media(max-width:369px){
    .allTtiulos{
        display: none;
    }

    .allTtiulosFooter{
        display: flex;
        flex-direction: column;
    }

}