.certificado{
    width: 400px;   
    margin: 20px;
    border-radius: 10px;
    text-shadow:  0 0 50px #0f0,
    0 0 150px #0f0,
    0 0 200px #0f0,
    0 0 250px #0f0;
    animation: animate 5s linear infinite;
}

.sectionTitulos{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxCard{
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    text-shadow:  0 0 50px #0f0,
    0 0 150px #0f0,
    0 0 200px #0f0,
    0 0 250px #0f0;
    animation: animate 5s linear infinite;
    padding: 10px;
}

.boxCard p{
    text-align: center;
    color: white;
}