@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.app{
    background-image: url('./components/Inicio/assets/fondoIncio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.373);
}